body, html {
     position: relative;
     height: 100%;
 }

#wrapper {
    padding-left: 240px;
    transition: all 0.4s ease 0s;
    position: relative;
    height: 100%;
}

#sidebar-wrapper {
    margin-left: -240px;
    left: 240px;
    width: 240px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    padding: 20px;
    color: #245269;
}

#sidebar-wrapper > h2{
    color: #245269;
}

#page-content-wrapper {
    position: relative;
    width: 100%;
    padding: 15px;
    height: 100%;
}

#tables{
    position: relative;
    height: 100%;
    z-index: 0;
}

.drop-zone {
    position: relative;
    height: 100%;
    border: 8px orangered dashed;
    padding:5px;
}

.table-vertical-1{
    height: 100%;
    width: 100%;
    overflow: auto;
    float: left;
}

.table-vertical-2{
    height: 100%;
    width: 50%;
    overflow: auto;
    float: left;
}

.table-horizontal-1{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.table-horizontal-2{
    height: 50%;
    width: 100%;
    overflow: auto;
}

.panel-title{
    text-align: center;
}

td { white-space:pre }

