<div id="sidebar-wrapper">
    <div class="row col-lg-offset-1">
        <a href="#/index"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go back</a>
    </div>
    <br/>
    <div class="row col-lg-offset-1">
        <button class="btn" ng-click="resetPreferences()">Restore defaults</button>
    </div>
    <br/>
    <div class="row col-lg-offset-1">
        <button class="btn" ng-click="savePreferences()">Save</button>
    </div>
</div>
<div id="page-content-wrapper">
    <div class="row">
        <div class="col-md-6">
            <h2>Input fields to display</h2>
            <form id="input-options" action="">
                <span ng-repeat="tit in titles.input">
                    <input type="checkbox" ng-model="tit.checked" ng-change='changeInput(tit)' ng-true-value="checked" ng-false-value="">
                    {{tit.title}}
                    </br>
                </span>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Statistic fields to display</h2>
            <form id="statistic-options" action="">
                <span ng-repeat="tit in titles.statistic">
                    <input type="checkbox" ng-model="tit.checked" ng-change='changeStatistic(tit)' ng-true-value="checked" ng-false-value="">
                    {{tit.title}}
                    </br>
                </span>
            </form>
        </div>
    </div>
</div>